<div class="container">
  <div class="row">
    <div class="col-md-12 text-center" id="header">
      <img src="assets/images/burger.png" alt="burger">
      <h1>Eat-Da-Burger!</h1>
    </div>
    <div class="col-md-6 text-center" class="eatme">
      <div class="row">
        {{#each burgers}}
        {{#unless devoured}}
        <div class="col-md-9 text-center">
          <pre>{{id}}. {{burger_name}}
        </pre>
        </div>
        {{> burgers/burger-devour id=id devoured=devoured}}
        {{/unless}}
        {{/each}}
      </div>
    </div>
    <div class="col-md-6 text=center" class="eatme">
      {{#each burgers}}
      {{#if devoured}}
      <div class="col-md-9 text-center">
        <pre>devoured:{{id}}. {{burger_name}}
        </pre>
      </div>
      {{> burgers/burger-devour id=id devoured=devoured}}
      {{/if}}
      {{/each}}
    </div>

    <form class="create-form">
      <div class="form-group">
        <div class="form"></div>
        <label for="bu">Enter a burger you want to eat and click the "Add Burger" button. Once you devour it, you will
          have the opportunity to eat it again in the future.</label>
        <input type="text" id="bu" name="name">
      </div>
      <button type="submit" class="btn btn-danger btn-lg">Add Burger</button>
    </form>