<li>
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Eat Again in the future!{{else}}Devour it!{{/if}}
	</button>
</li>

{{!-- REVIEW OF CONCEPTS: 
1. Handlebars only accepts objects. 
2.  $(".change-devoured").on("click", function(event) {} is referenced in script.js 
3.   --}}